<div class="container">
  <div class="jumbotron">
    <h1>She Codes - The Salon</h1>
    <p class="lead">Welcome! Please submit question/topic ideas! Submissions are anonymous!</p>
    <%= link_to "Enter a question or topic", new_question_path, class: "btn btn-lg btn-success" %>
    <%= link_to "Choose a topic or question at random", choose_path, class: "btn btn-lg btn-info" %>
  </div>
</div>
